
/* Styling Elements to all HTML Files */

body {
    background-image: url("../HW22020/Assets/Images/BackgroundImage.jpg"); 
   }

nav { 
    background-color: black;
    margin: auto;
}

a {
    color: white;
}



h5 {
    text-align: center;
    Color: black;
    font-size: 35px; 
 
}

/* Styling Id/Class/Elements to Index HTML File */

.Paragraphfloat{ 
    float: right;
    margin-left: 40px;
}

.ImageFloat {
    Float: left;
    margin-right: 40px;
}


/* Styling Id/Class/Elements to Portfolio  HTML File */

/* Styling Id/Class/Elements to Contact Me  HTML File */