
/* Styling Elements to all HTML Files */


nav { 
    background-color: rgb(24, 24, 24);
    margin: auto;
    opacity: 85%;
}

a {
    color: white;
    
}



h5 {
    text-align: center;
    color: black;
    font-size: 35px; 
 
}

/* Styling Id/Class/Elements to Index HTML File */

.Indexcard {
    margin: auto; 
    background-image: url('../HW22020/Assets/cool-background\ copy.png');
    background-size: cover;
   box-shadow: 10px 10px 5px black;
    
}


.shapeandsize {
    padding-left: 5%;
    padding-right: 5%;
    

}

.cardsize { 
    height: 400px;
    background: bisque;
}

/* .carouselbkrd {
    background-image: url("../HW22020/Assets/woodimage.jpg"); 
    background-size: cover;
} */

p {
    text-align: center;
    
}

.Paragraphfloat{ 
    text-align: center;
    
}

.ImageFloat {
    float: right;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
   
} 


@media (max-width: 576px) {
   .MediaQuery {
        width: 300px;
        height: 300px;
    } 
     

}
/* Styling Id/Class/Elements to Portfolio  HTML File */

/* Styling Id/Class/Elements to Contact Me  HTML File */

/* fonts */
 /* font-family: 'Amatic SC', cursive; */
 /* font-family: 'Bungee Shade', cursive; */
/*font-family: 'Julius Sans One', sans-serif; */
/* font-family: 'Just Me Again Down Here', cursive; */